<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/elementUI/index.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="app">
    <el-row>
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>XX管理</el-breadcrumb-item>
            <el-breadcrumb-item>xxxx</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider></el-divider>
    </el-row>






</div>

<script src="/vue/vue.min.js"></script>
<script src="/vue/axios.min.js"></script>
<script src="/vue/qs.js"></script>
<script src="/elementUI/index.js"></script>
<script>
    var vue = new Vue({
        el:"#app",
        data:{

        },
        //初始化 html加载完成后执行。执行顺序：子组件-父组件
        mounted:function () {

        },
        methods:{

        },
        computed:{

        },
    });
</script>
</body>
</html>